/* 
    bgcolor :#08526d;
    fontcolor :#ec1c23;
    -----------------------
    created By: Ahmed Ali Klay
    Email :aa9141179@gmail.com;
    phone:011 26 350 859
*/
@media(max-width:576px){
    .upper_bar .info:first-child{
        margin-bottom:0
    }
}.upper_bar{
    background-color:#08526d;
    color:#fff;
}.info{
    margin:15px 0
}.get_quate{
    display:inline-block;
    border:1px solid #ec1c23;
    padding:2px 10px;
    margin-left: 20px;
}@media(max-width:576px){
    .get_quate{
        border:none;
        margin-left:5px
    }
}.navbar-brand  >span{
    font-size:40px
}.navbar-brand span:first-child{
    color:#ec1c23;
    font-weight:bold
}.navbar-brand span:last-child{
    color:#08526d;
}ul.navbar-nav .nav-link{
    font-size: 19px;
    text-transform: uppercase;
    margin-left: 20px;
}.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
    color:#ec1c23;
    font-weight: 600;
}/* Start slider */
.slider .carousel-inner .overlay{
    position: absolute;;
    width:100%;
    height:100%;
    right:0;
    left:0;
    z-index:2;
    background-color:rgba(22,22,22,0.6);
}.carousel-item{
    background-size:cover;
    background-repeat:no-repeat
}.carouserl_own{
    background-image:url('../img/carouserItem1.jpg')
}.carousel_tow{
    background-image:url('../img/carouserItem2.png')
}.carousel_three{
    background-image:url('../img/carouserItem3.png');
    justify-content: left;
}.carousel .carousel-indicators li{height:7px}
.slider .carousel h1{
    position:absolute;
    z-index:3;
    color:#fff;
    max-width:900px;
    line-height: 75px;
    font-size: 50px;
    left:100px
}@media(max-width:768px){
    .slider .carousel h1{
        max-width:100%;
        line-height: 55px;
        font-size: 30px;
        left:auto;
        text-align:center;
        left: 22%;
        right: 22%;
    }
}@media(max-width:576px){
    .slider .carousel h1{
        left: 10%;
        right: 10%;
        font-size:25px
    }
}.slider .carousel h1 span{
    background-color:#ec1c23;
    background-color: #ec1c23;
    padding: 0px 9px;
}.slider .carousel-inner{
    display:flex;
    align-items:center;
    justify-items:left
}@media(max-width:768px){
    .slider .carousel-inner {
        justify-content: center;
        display:inline-block
    }.carousel-item{
        background-size:cover;
        background-repeat:no-repeat
    }.slider .carousel h1{
        margin-top:30%
    }
}/* Start features */
.features{padding: 50px 0}
.features .svg-inline--fa{
    color: #fff;
    width: 65px;
    height: 68px;
}.features svg{
    background-color: #ec1c23;
    padding: 11px;
    margin-bottom: 21px;
}.features h3{color:#08526d;}
.features p{
    color: #606060;
    margin-bottom: 40px;
}/* End features */
/* Start company overview  */
.overview{
    background-color:#f5f5f5;
    padding: 50px 0
}.overview h2{
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:20px
}.overview p{
    line-height: 47px;
    font-size: 25px;
    color: #818181;
    width:80%;
    margin: auto;
}.overview button{
    border-radius:0;
    text-transform:uppercase;
    margin: 22px 0
}.overview span{
    letter-spacing:10px;
    display:block;
    color: #9e9e9e;
    margin-top:10px
}@media(max-width:768px){
    .overview p{
        font-size: 18px;
        line-height: 36px;
    }.overview h2{
        font-size: 2.3em;
    }.overview span {
        letter-spacing: 5px;
    }.overview {
       
        padding-bottom: 30px ;
    }
}@media(max-width:992px){
    .overview p{
        width:100%
    }
}/* End company overview  */
/* featured_work */
.featured_work{
    padding: 40px 0
}.featured_work h2{
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:20px
}.featured_work p{
    line-height: 30px;
    font-size: 21px;
    color: #818181;
    margin-bottom:30px
}.featured_work ul{
    margin-bottom:60px
}.featured_work li{
    display:inline-block;
    padding:10px 30px;
    color:#08526d;
    border:2px solid #08526d;
    margin-left:10px;
    transition: all .6s ease-in-out;
    cursor:pointer
}.featured_work li:hover{
    background-color:#ec1c23;
    border:2px solid #b91a20;
    color:#fff

}.featured_work li.active{
    background-color:#ec1c23;
    border:2px solid #b91a20;
    color:#fff

}.featured_work .row:first-child{
    margin-bottom:40px
}.featured_work .shuffile_images .col-md{
    padding:0;
    transition:all .6s ease-in-out
}.featured_work .shuffile_images .row .col-md img{
    width:100%;
    min-height:292px
}.featured_work .shuffile_images .row{
    margin:0
}@media(max-width:768px){
    .featured_work .shuffile_images .row .col-md img{
        min-height:192px
    }
}/* featured_work */
/* latest_post */
.latest_post{
    padding: 0 0 100px
}.latest_post h1{
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:20px
}.latest_post p{
    line-height: 30px;
    font-size: 21px;
    color: #818181;
    margin-bottom:30px
}.latest_post .card {
    margin-bottom:40px
}.latest_post .card h3{
    color:#08526d;
    font-size: 20px;
    margin: 0 0 24px;
}.latest_post .card a.card-link{
    color:#ec1c23;
    font-weight:bold
}.latest_post .card h6{
    color:#ccc !important
}.latest_post .card img{
    min-height:232px
}@media(max-width:768px){
    .featured_work li{
        margin-bottom: 22px;
    }
}/* latest_post */
/* testimaonials */
.testimaonials{
    background-image:url('../img/testimonales.jpg');
    background-size:cover;
    position:relative
}.testimaonials .testimaonials_overlay{
    position: absolute;;
    width:100%;
    height:100%;
    right:0;
    left:0;
    z-index:2;
    background-color:rgba(22,22,22,0.6);
}.testimaonials .conatiner{
    position:relative;
    z-index:3
}.testimaonials #testimaonials{z-index:4}
.testimaonials #testimaonials .carousel-caption {
    align-items:center;
    top:50%;
    margin-top:-158px
}.testimaonials #testimaonials .carousel-item img{
    width:150px;
    height:150px;
    border-radius:50%;
    align-items:center;
    margin-bottom:20px;
    opacity:.7
}.testimaonials #testimaonials .carousel-item h5{
    font-size: 26px;
}.testimaonials #testimaonials .carousel-item span{
    font-weight:bold
}.testimaonials #testimaonials .carousel-item p{
    font-size: 17px;
}.testimaonials .carousel-control-next-icon, .carousel-control-prev-icon{
    padding:10px;
    font-size:22px
}@media(max-width:992px){
    .testimaonials #testimaonials .carousel-item img{
        width:60px;
        height:60px;
        margin-bottom: 14px;
    }.testimaonials #testimaonials .carousel-item p{
        font-size: 13px;
    }.testimaonials #testimaonials .carousel-caption {
        align-items: center;
        top: 62%;
    }.testimaonials #testimaonials .carousel-indicators{
        margin-bottom: 6px;
    }
}/* testimaonials */
/* pricibg_table */
.pricibg_table{
    padding: 50px 0;
    background-color: #f7f7f7;
}.pricibg_table h1{
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:20px;
    margin-top:50px
}.pricibg_table p{
    line-height: 30px;
    font-size: 21px;
    color: #818181;
    margin-bottom:30px;
}.pricibg_table .pricing p{
    color:#08526d;
    padding:10px;
    margin: 22px 0;
    font-size: 24px;
    font-weight:400
}.pricibg_table .pricing p span{
    font-size: 18px;
    font-weight:400
}.pricibg_table .corporate p.active{
    background-color: #ec1c23;
    color: #fff;
    padding: 10px;
    font-size: 25px;
    line-height: 34px;
}.pricibg_table .pricing .card-body{
    padding: 22px 0
}.pricibg_table .card {
    margin-top:20px;
    margin-bottom:40px;
}.pricibg_table .card-body {
    margin-top:20px;
    margin-bottom:40px;
    padding:40px 0
}.pricibg_table .corporate .card-body{padding-bottom: 0;}
.card.corporate{margin-top: 1px;}.pricibg_table .card h3{
    color:#08526d;
    font-size: 20px;
}.pricibg_table .card a.card-link{
    color:#ec1c23;
    font-weight:bold
}.pricibg_table .card h6{color:#ccc !important}
.pricibg_table .card img{min-height:232px}
.pricibg_table .card .list-group-item{border:0}
.pricibg_table .card .btn{
    border-radius:0;
    color:#fff !important;
    text-transform: uppercase;
    letter-spacing:3px
}.pricibg_table .btn_active{
    border-radius:0;
    background-color: #08526d;
    color:#fff !important;
    text-transform: uppercase;
    letter-spacing:3px
}@media(max-width:992px){
    .pricibg_table p{
        font-size: 18px;
        line-height: 36px;
    }.card.corporate{margin-top: 20px;}
}@media(max-width:576px){
    .pricibg_table .pricing p{margin: 4px 0;}
    .pricibg_table p{margin-bottom: 11px;}
    .pricibg_table .card {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}/* pricibg_table */
/* choose_us */
.choose_us .container-fluid .info_choose_us{padding:0}
.choose_us .container-fluid .info_choose_us .choose_us_box h2{
    margin:22px 0;
    font-size: 35px;
}.choose_us .container-fluid .info_choose_us .choose_us_box{
    background-color: #08526d;
    color: #FFF;
    height: 100%;
    padding: 39px 22px;
}.choose_us .info_choose_us img{max-width:100%}
.choose_us .choose_us_box a.btn{
    border-radius:0;
    background-color: #ec1c23;
    color:#fff !important;
    text-transform: uppercase;
    letter-spacing:3px;
    margin-top: 30px;
}.choose_us .choose_us_box p{
    color: #e8e8e8;
    font-size: 15px;
}/* choose_us */
/* stats */
.stats{padding:50px 0}.stats .stat_box svg{
    display:block;
    text-align:center;
    margin:10px auto;
    color:#08526d
}.stats .stat_box span{
    color:#08526d;
    font-weight: bold;
    font-size: 27px;
}.stats .stat_box p{color:#ec1c23}
/* stats */
/* contact_us */
.contact_us{
    background-color: #ec1c23;
    color:#fff;
    padding:50px 0
}.contact_us .btn{
    border-radius:0;
    background-color: #ec1c23;
    border-color:#fff;
    color:#fff !important;
    text-transform: uppercase;
    letter-spacing:3px;
}.contact_us p{
    margin-bottom: 0;
    line-height: 36px;
    font-size: 20px;
    color: #f0f0f0;
}@media(max-width:768px){
    .contact_us p{margin-bottom:15px}
}/* contact_us */
/* footer */
.footer{
    padding:50px 0
}.footer h2{
    color:#08526d;
    font-size:19px;
    margin-bottom:18px
}.footer .site_info {
    margin-bottom:50px;
}.footer .site_info span{
    font-size: 30px;
}.footer .site_info p::before{
    font-family:'fontAwesome';
    content: "\f138";
    display:inline-block
}.footer .site_info span:first-of-type{
    font-weight:bold;
    color:#08526d
}.footer .site_info span:last-of-type{
    font-weight:bold;
    color:#ec1c23
}.site_info a{
    color: #08526d;
    font-size: 14px;
    font-weight: bold;
}.footer .helpful_links ul li svg,
.footer .contact ul li svg{
    display: inline-block;
    color: #08526d;
    font-weight: bold;
    font-size: 14px;
}.footer .contact ul li{
    padding: 12px 0px;
}.footer .helpful_links ul li{
    padding: 6px 0px;
}@media(max-width:992px){
    .site_info p{
        margin-bottom:5px
    }
}@media(max-width:576px){
    .footer .helpful_links ul li {
        padding: 5px 0px;
    }.copyright ul{
        margin-top:20px
    }.footer .contact ul li {
        padding: 6px 0px;
    }
}/* End footer */
/* copyright */
.copyright{
    border-top:1px solid #ccc;
    padding-top:20px 
}.copyright ul li{
    display:inline-block;
    margin-left:10px;
}
/* copyright */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {
    background-color: #bb0f15;
}